.img-style {
    height: 100% !important;
}

.btn-signup {
    float: right;
    width: 100%;  
}

.btn-signin{
    width: 100%;
}

.btn-logout{
    position: absolute;
    top: 20px;
    right: 40px;
}

.already-acc {
    padding-top: 10px;
}